
@using System.Web.UI.WebControls
@using DevExpress.Web;
@using DevExpress.Web.Mvc;

@using ModernRetail.Models;
@model ModernRetail.Models.StoreMasterModel
@{
    ViewBag.Title = "PartyList";
}

<script type="text/javascript" src="~/Scripts/globalize.js"></script>
<script src="~/Scripts/cultures/globalize.cultures.js"></script>

<script src="~/Scripts/chosen/chosen.jquery.min.js"></script>
<link href="~/Scripts/chosen/chosen.min.css" rel="stylesheet" />
<link href="~/Content/media.css" rel="stylesheet" />


<link href="~/assests/css/custom/PMSStyles.css" rel="stylesheet" />
<script src="~/Scripts/SearchPopup.js"></script>
@*<link href="~/assests/css/custom/SearchPopup.css" rel="stylesheet" />*@
<link href="~/assests/css/custom/SearchPopup.css" rel="stylesheet" />
<script src="~/assests/pluggins/choosen/choosen.min.js"></script>
<script src="~/Scripts/SearchMultiPopup.js"></script>

<link href="~/Scripts/pluggins/multiselect/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/pluggins/multiselect/bootstrap-multiselect.js"></script>

<link href="~/assests/pluggins/LightBox/lightbox.css" rel="stylesheet" />
<script src="~/assests/pluggins/LightBox/lightbox.js"></script>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/js/select2.min.js"></script>

<style>
    .pmsModal .modal-header {
        background: #1843b1 !important;
        background-image: none !important;
        padding: 11px 20px;
        border: none;
        border-radius: 20px 20px 0 0;
        color: #fff;
    }

    .pmsModal .modal-content {
        border: none;
    }

    .pmsModal .modal-header .modal-title {
        font-size: 14px;
    }

    .pmsModal.w70 .modal-dialog {
        /*Rev 3.0*/
        /*width: 70%;*/
        width: 76%;
        /*Rev end 3.0*/
    }

    #myModal label {
        font-weight: 500;
        margin-top: 5px;
    }

    .red {
        color: red;
    }

    .sample {
        font-size: 12px;
        color: #d48a28;
    }

    .buttonphoto {
        padding: 11px 12px;
        display: inline-block;
        background: #dee3f7;
        margin-top: 11px;
        border-radius: 3px;
        cursor: pointer;
    }

        .buttonphoto:hover {
            background: #415ed2;
            color: #fff;
        }

    .infoQ {
        color: #4b98b8;
        margin-left: 5px;
        cursor: pointer;
    }

    #PanModel {
        z-index: 9999;
    }

    .inputShrink select:not(.btn), .inputShrink .form-control:not(textarea) {
        height: 34px;
        padding: 3px 12px;
    }

    .modalScroll .modal-body {
        max-height: 75vh !important;
        overflow-y: auto;
    }

    .pmsModal .close {
        font-weight: 400;
        font-size: 25px;
    }

    .new-popup-width .modal-dialog {
        width: 90% !important;
    }

    #myImportModal .modal-body {
        border-radius: 0 0 20px 20px;
    }
    /*rev 1.0*/
    .btn {
        /*margin-bottom: 15px;*/
        height: 34px;
    }
    /*rev end 1.0*/

    /*Rev 3.0*/
    .dxeButtonEdit_PlasticBlue {
        min-height: 30px;
        border-radius: 8px;
        border: 1px solid #cdcdcd;
    }

    .dxeButtonEditButton_PlasticBlue {
        background: #094e8c !important;
        border-radius: 4px !important;
        padding: 0 4px !important;
    }

    #myModal label {
        margin-top: 8px;
        font-size: 13px;
        margin-bottom: 2px;
    }

    .General-part {
        padding-bottom: 20px;
        background: #fff4eb;
        padding-top: 12px;
        padding-left: 4px;
        /*border-left: 5px solid #9b0909;*/
        border-bottom: 1px solid #9b090991;
    }

    .store-info {
        padding-bottom: 20px;
        background: #ebfff0;
        padding-top: 12px;
        padding-left: 4px;
        /*border-left: 5px solid #33974c;*/
        border-bottom: 1px solid #33974c91;
    }

    .contact-info {
        padding-bottom: 20px;
        background: #f8ebff;
        padding-top: 12px;
        padding-left: 4px;
        /*border-left: 5px solid #7e3ea1;*/
        border-bottom: 1px solid #7e3ea191;
    }

    .account-info {
        padding-bottom: 20px;
        background: #fffff0;
        padding-top: 12px;
        padding-left: 4px;
        /* border-left: 5px solid #2d84b3; */
        border-bottom: 1px solid #c3b66391;
    }

    .other-info {
        padding-bottom: 20px;
        background: #fff3f3;
        padding-top: 12px;
        padding-left: 4px;
        /*border-left: 5px solid #9eb329;*/
        border-bottom: 1px solid #ef2a2a91;
    }

    .Loan-info {
        padding-bottom: 20px;
        background: #1c76770d;
        padding-top: 12px;
        padding-left: 4px;
        /* border-left: 5px solid #9eb329; */
        border-bottom: 1px solid #1c7677b5;
    }

    .pmsModal .modal-body {
        /*Rev 5.0*/
        /*padding-top: 0;*/
        padding-top: 0px;
        /*Rev end 5.0*/
        padding-right: 15px;
        padding-left: 15px;
        /*Rev 5.0*/
        /*padding-bottom: 0;*/
        padding-bottom: 0px;
        /*Rev end 5.0*/
    }

    .General-part h3 {
        font-size: 16px;
        margin: 0;
        color: #8c0909;
        padding-left: 8px;
    }

    .store-info h3 {
        font-size: 16px;
        margin: 0;
        color: #33974c;
        padding-left: 8px;
    }

    .contact-info h3 {
        font-size: 16px;
        margin: 0;
        color: #7e3ea1;
        padding-left: 8px;
    }

    .account-info h3 {
        font-size: 16px;
        margin: 0;
        color: #bfaa15;
        padding-left: 8px;
    }

    .other-info h3 {
        font-size: 16px;
        margin: 0;
        color: #e54949;
        padding-left: 8px;
    }

    .Loan-info h3 {
        font-size: 16px;
        margin: 0;
        color: #1c7677;
        padding-left: 8px;
    }

    .col-md-3, .col-md-6, .col-md-4, .col-sm-3 {
        padding-left: 8px;
        padding-right: 8px;
    }

    .inputShrink select:not(.btn), .inputShrink .form-control:not(textarea) {
        padding: 3px 5px;
    }

    .red {
        font-size: 12px;
    }


    /*Rev end 3.0*/

    /*Rev 5.0*/
    #EmployeeTable table tr th,
    #PPModel table tr th,
    .dynamicPopupTbl > tbody > tr > td input {
        font-family: 'Poppins', sans-serif !important;
        font-size: 12px;
        padding: 5px;
    }

    .w-50 {
        width: 50% !important
    }

    #txtDOB_DDD_PW-1, #txtAnniversary_DDD_PW-1 {
        left: 20px !important;
    }

    #pcModalImportLogViewMode_PW-1 .mTop5, #pcModalImportGroupBeatLogViewMode_PW-1 .mTop5 {
        margin-top: 15px;
    }

    #dtFrom, #dtTo {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    .calendar-icon {
        position: absolute;
        bottom: 6px;
        right: 14px;
        z-index: 0;
        cursor: pointer;
    }

    #dtFrom_B-1, #dtTo_B-1 {
        background: transparent !important;
        border: none;
        width: 30px;
        padding: 10px !important;
    }

        #dtFrom_B-1 #dtFrom_B-1Img,
        #dtTo_B-1 #dtTo_B-1Img {
            display: none;
        }

    #dtFrom_I, #dtTo_I {
        background: transparent;
    }

    .for-cust-icon {
        position: relative;
        z-index: 1;
        width: 50%;
    }

    .pmsModal .modal-content {
        overflow: hidden;
    }

    /*Rev 4.0*/
    .multiselect-container.dropdown-menu {
        right: 0 !important;
        left: auto;
        min-width: 340px;
    }

    .iminentSpan .multiselect-container.dropdown-menu {
        right: auto !important;
        left: 0;
        min-width: 340px;
    }

    .multiselect-container > li > a {
        padding: 5px 0;
    }

        .multiselect-container > li > a input[type="checkbox"] {
            transform: translateY(3px);
        }

    .multiselect-container > li.active > a {
        background: transparent !important;
        color: #333;
    }

        .multiselect-container > li > a:hover, .multiselect-container > li.active > a:hover {
            background: #f3f3f3 !important;
            color: #333 !important;
            padding: 5px 0;
        }

    .multiselect-item.multiselect-filter {
        padding-bottom: 6px;
        border-bottom: 1px solid #ccc;
    }

        .multiselect-item.multiselect-filter .form-control.multiselect-search {
            height: 32px;
        }

        .multiselect-item.multiselect-filter .input-group-addon {
            background: #41a8f1;
            color: #fff;
            border-color: #41a8f1;
        }

    .input-group-btn .multiselect-clear-filter {
        background: #f98181;
        color: #fffefe;
        /* box-shadow: none; */
        text-shadow: none;
        border-color: #f96a6a;
        padding: 5px 10px 4px 10px;
    }

    .multiselect.dropdown-toggle {
        background: #fff;
        border-radius: 0;
    }

    .iminentSpan > span {
        display: block;
    }

    .btn-excel {
        float: right;
        margin-right: 38px;
        margin-top: -4px;
    }

    .gridbinded {
        position: absolute;
        right: 15px;
        top: 11px;
    }

    #cmbState + .btn-group > button {
        border-radius: 4px;
        height: 34px;
    }

    span.multiselect-native-select button {
        border: 1px solid #c9c9c9 !important;
        border-radius: 5px !important;
    }

    .pmsModal.w30 .modal-dialog {
        max-width: 45%;
    }

    .mTop35 {
        margin-top: 35px !important;
    }

    .multiselect-container {
        position: static !important;
    }

    .iminentSpan .multiselect-container.dropdown-menu {
        height: 300px;
        overflow: auto;
    }

    .btn.multiselect-clear-filter {
        margin-bottom: 0;
        border-radius: 0 4px 4px 0 !important;
        height: 32px;
    }

    .h-branch-select {
        position: relative;
    }

        .h-branch-select::after {
            content: '<';
            position: absolute;
            top: 36px;
            right: 7px;
            font-size: 18px;
            transform: rotate(270deg);
            font-weight: 500;
            background: #094e8c;
            color: #fff;
            height: 18px;
            display: block;
            width: 28px;
            /* padding: 10px 0; */
            border-radius: 4px;
            text-align: center;
            line-height: 19px;
            z-index: 0;
        }

    .multiselect.dropdown-toggle {
        text-align: left;
    }

    .multiselect.dropdown-toggle, #ddlShowReport {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .open .dropdown-toggle.btn-default {
        background: transparent !important;
    }

    .btn .caret {
        display: none;
    }

    /*End of Rev 4.0*/

    /*Rev end 5.0*/

    /*Rev 8.0*/
    #txtEmployeeSearch {
        margin-bottom: 10px;
    }

    .btn-default {
        background-color: #e0e0e0;
    }
    /*Rev end 8.0*/

    .dxgvControl_PlasticBlue a {
        margin: 0 3px;
    }

    .mTop5, .lblmTop8 {
        margin-top: 10px !important;
    }

    #txtDOB_DDD_PWC-1 #txtDOB_DDD_C_FNP_PW-1 {
        left: 65px !important;
    }

    #txtAnniversary_DDD_PWC-1 #txtAnniversary_DDD_C_FNP_PW-1 {
        left: -55px !important;
    }

    .btn-mass-dlt-imp-log {
        background: #874a03;
        color: #fff;
        transition: all .3s;
    }

        .btn-mass-dlt-imp-log:hover {
            background: #bf6905;
            color: #fff;
        }

    .btn-info {
        background-color: #0698c4 !important;
        transition: all .3s;
    }

        .btn-info:hover {
            background-color: #21b9e7 !important;
        }

    .btn-danger {
        background-color: #dd1d17 !important;
        transition: all .3s;
    }

        .btn-danger:hover {
            background-color: #f9413b !important;
        }

    .btn-success {
        background-color: #1ba749 !important;
        transition: all .3s;
    }

        .btn-success:hover {
            background-color: #27d560 !important;
        }

    .btn-primary {
        background-color: #033868 !important;
    }

        .btn-primary:hover {
            background-color: #01519a !important;
        }

    .dxpcLite_PlasticBlue .dxpc-content, .dxdpLite_PlasticBlue .dxpc-content {
        padding: 7px 10px 10px !important;
    }

    .tooltip-container {
        position: relative;
        display: inline-block;
    }

    .tooltip {
        visibility: hidden;
        /*width: 140px;*/
        background-color: #0d8f24;
        color: #fff;
        text-align: center;
        border-radius: 10px;
        padding: 8px 10px;
        position: absolute;
        z-index: 99;
        bottom: 130%;
        left: 42%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;
    }

        .tooltip::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -10px;
            border-width: 10px;
            border-style: solid;
            border-color: #0d8f24 transparent transparent transparent;
        }

    .tooltip-container:hover .tooltip {
        visibility: visible;
        opacity: 1;
    }

    .dxgvEditFormDisplayRow_PlasticBlue td.dxgv, .dxgvDataRow_PlasticBlue td.dxgv, .dxgvDataRowAlt_PlasticBlue td.dxgv, .dxgvSelectedRow_PlasticBlue td.dxgv, .dxgvFocusedRow_PlasticBlue td.dxgv {
        overflow: visible;
    }

    .party-list-buttons .btn {
        border-radius: 8px;
        margin-right: 8px;
        transition: .3s;
    }

        .party-list-buttons .btn:hover {
            transform: scale(1.1);
        }

    .plr-5 {
        padding-left: 8px;
        padding-right: 8px;
    }

    .btn-warning {
        background-color: #db8711;
    }

    .select2-container {
        width: 100% !important;
        z-index: 99999;
    }

    .select2-container--default .select2-selection--single {
        height: 34px;
        /* padding: 6px 12px; */
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 6px;
    }

    /*.select2-container {
        z-index: 1;
    }*/

    .select2-container--default .select2-selection--single {
        background-color: transparent;
    }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            display: none;
        }

    .select2-container--default .select2-search--dropdown .select2-search__field {
        border-radius: 4px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 32px;
        padding-right: 22px;
    }

    div:where(.swal2-container).swal2-backdrop-show, div:where(.swal2-container).swal2-noanimation {
        z-index: 99999;
    }
    /*
        .dropdown-menu, .modal {
            z-index: 999999;
        }*/

    .multiselect.dropdown-toggle {
        width: 100% !important;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .btn-group {
        width: 100%;
    }

    .cust-dropdown {
        background: #fff;
    }

    .pmsModal .modal-footer {
        background: #fff !important;
        padding-right: 0;
    }

    /*.select2-dropdown
    {
        z-index: 99999;
    }*/

    .inputShrink select:not(.btn), .inputShrink .form-control:not(textarea) {
        position: relative;
        /*background: transparent;*/
    }

    /*#ddlBranch {
        -webkit-appearance: none;
    }*/


    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        z-index: 9999;
        display: none; /* Initially hidden */
    }

    .flex-loader {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .dxgvLoadingPanel_PlasticBlue {
        display: none !important;
    }

    .flex-loader img {
        width: 120px;
    }

    .flex-loader h4 {
        font-size: 22px;
        color: #000000;
    }

    .save-btn .btn-icon, .cancel-catg .btn-icon, .saveicon {
        border-radius: 50px;
        width: 21px;
        height: 21px;
        display: inline-block;
        background: #fff;
        line-height: 20px;
        margin-right: 5px;
    }

        .save-btn .btn-icon img, .saveicon img {
            color: #238945;
            width: 14px;
        }

    .cancel-catg, .save-btn {
        transition: all .3s ease-in-out;
    }

        .cancel-catg .btn-icon img {
            color: #DC0505;
            width: 16px;
        }

        .cancel-catg:hover {
            transform: scale(1.1);
        }

        .save-btn:hover {
            transform: scale(1.1);
        }


    /*Rev Pallab: grid modification*/

    .rowActive {
        background-color: #ebf4ff !important;
        color: #000 !important;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        z-index: 9999;
        display: none; /* Initially hidden */
    }

    .flex-loader {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .dxgvLoadingPanel_PlasticBlue {
        display: none !important;
    }

    .flex-loader img {
        width: 120px;
    }

    .flex-loader h4 {
        font-size: 22px;
        color: #000000;
    }

    .btn-export {
        background: #d0d0d0;
    }

        .btn-export .btn-icon img {
            width: 30px;
            height: 30px;
        }


    .add-btn .btn-icon {
        border-radius: 50px;
        width: 21px;
        height: 21px;
        display: inline-block;
        background: #fff;
        line-height: 21px;
        margin-right: 5px;
    }

    .add-btn {
        transition: all .4s;
    }

        .add-btn:hover {
            color: #fff;
            background-color: #0e4f23;
            border-color: #0e4f23;
        }

        .add-btn .btn-icon i {
            color: #238945;
        }

    .add-btn {
        background-color: #238945;
        margin-right: 5px;
    }

    .btn {
        border-radius: 8px;
        height: 38px;
        padding-left: 12px;
        padding-right: 12px;
        color: #fff;
    }

        .btn:active, .btn:hover, .btn:focus {
            color: #fff !important;
        }

    .show-btn .btn-icon {
        border-radius: 50px;
        width: 21px;
        height: 21px;
        display: inline-block;
        background: #fff;
        line-height: 21px;
        margin-right: 5px;
        color: #054682;
    }

    .show-btn {
        background: #054682;
        transition: all .4s;
        margin-right: 5px;
    }

        .show-btn:hover {
            background: #072743;
        }

    .party-add-btn
    {
        width: 130px;
    }
    /*Rev End Pallab: grid modification*/

    #customDateFields {
        display: block;
        position: absolute;
        background: #fff;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 1px 1px 10px #11111163;
        top: 40px;
        right: 22px;
        width: 80%;
        z-index: 99;
    }

    #dateRangeSelector li {
        height: 38px;
        padding: 5px 10px;
        /*border: 1px solid #ccc;*/
        color: #a8a8a8;
        line-height: 26px;
        /*margin-right: 10px;
        border-radius: 8px;*/
        cursor: pointer;
        width: 33.33%;
        text-align: center;
        border-right: 1px solid #a8a8a8;
    }

        #dateRangeSelector li:last-child
        {
            border-right: 0;
        }

        #dateRangeSelector li i
        {
            margin-right: 6px;
        }

        #dateRangeSelector li.active {
            /*border: 1px solid #1843b1;*/
            color: #fff;
            background: #8811a8;
        }

    #dateRangeSelector {
        border: 1px solid #c0c0c0;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 0;
    }


    #gridStoreDetails {
        position: relative;
    }

    .action-buttons {
        display: none;
        position: absolute;
        /*background: #ffffff;*/
        /*border: 1px solid #ddd;*/
        border-radius: 5px;
        padding: 5px 10px;
        /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
        white-space: nowrap;
        z-index: 1000; /* Ensure it appears above other elements */
        transform: translate(-50%, -100%); /* Position above and centered horizontally */
        transition: opacity 0.3s ease; /* Smooth fade-in effect */
        top: 45px;
        right: -45px;
    }

        .action-buttons.visible {
            display: block !important; /* Add this class dynamically */
        }


        .action-buttons a {
            color: #007bff;
            text-decoration: none;
            font-size: 14px;
            cursor: pointer;
        }

            .action-buttons a img {
                width: 30px;
                height: 30px;
            }

            .action-buttons a:hover {
                text-decoration: underline;
            }
</style>


<script>
    var Is_PageLoad = "Ispageload";

    $(function () {
        var d = new Date();

        dtFrom.SetValue(d);
        dtTo.SetValue(d);

        $('#ddlAppIds').on('change', function () {
            if ($("#ddlAppIds option:selected").index() > 0) {
                var selectedValue = $(this).val();
                $('#ddlAppIds').prop("selectedIndex", 0);
                var url = '@Url.Action("ExportStorelist", "StoreMaster", new { type = "_type_" })'
                window.location.href = url.replace("_type_", selectedValue);
            }
        });

        $(document).ready(function () {
            // Initialize with "Today" selected
            const today = new Date();
            let firstDayOfMonth = new Date(today.getFullYear(), today.getMonth(), 1);

            dtFrom.SetDate(today);
            dtTo.SetDate(today);

            // Event listener for date range selection
            $("#dateRangeSelector li").on("click", function () {
                // Remove active class from all list items and add to the selected one
                $("#dateRangeSelector li").removeClass("active");
                $(this).addClass("active");

                const selectedOption = $(this).attr("id");

                if (selectedOption === "custom") {
                    // Show custom date fields
                    $("#customDateFields").slideDown();
                } else {
                    // Hide custom date fields
                    $("#customDateFields").slideUp();

                    if (selectedOption === "today") {
                        dtFrom.SetDate(today);
                        dtTo.SetDate(today);
                    } else if (selectedOption === "mtd") {
                        dtFrom.SetDate(firstDayOfMonth);
                        dtTo.SetDate(today);
                    }
                }
            });
        

            $('body').on('click', '#btnshow', function () {

                //GetEmpSelectedFieldValuesOndemand($("#hdnEmployeeId").val());

                //var IS_ReAssignedDate = "0";
                //if ($('#chkIsAssignDate').is(":checked")) {
                //    IS_ReAssignedDate = "1";
                //}

                const selectedOption = $("#dateRangeSelector li.active").attr("id");
                let datefrm = null, dateto = null;

                if (selectedOption === "custom") {
                    datefrm = dtFrom.GetText();
                    dateto = dtTo.GetText();
                } else {
                    datefrm = dtFrom.GetText();
                    dateto = dtTo.GetText();
                }

                // Logic to show data based on selected dates
                console.log(`Selected Range: ${selectedOption}, From: ${datefrm}, To: ${dateto}`);

                // Hide custom date fields after showing data
                if (selectedOption === "custom") {
                    $("#customDateFields").slideUp();
                };

                
                var newdatefrom = datefrm.split("-").reverse().join("-");

                var startdate = new Date(Date.parse(newdatefrom));
                

                
                var newdateTo = dateto.split("-").reverse().join("-");

                var endDate = new Date(Date.parse(newdateTo));

                if (endDate < startdate) {

                    jAlert('From date should be before/equal To date');
                }
                else {

                    Is_PageLoad = "1";

                    gridStoreDetails.Refresh();
                    gridStoreDetails.Refresh();

                }
            });
        });
    });

    function OnStartCallback(s, e) {
        e.customArgs["Is_PageLoad"] = Is_PageLoad;
        e.customArgs["Fromdate"] = dtFrom.GetText();
        e.customArgs["Todate"] = dtTo.GetText();

        /*Rev Pallab: grid modification*/
        document.getElementById("loading-overlay").style.display = "block";
        /*Rev End Pallab: grid modification*/

        //document.getElementById("loading-overlay").style.display = "block";
    }

    /*Rev Pallab: grid modification*/
    function OnEndCallback() {

        document.getElementById("loading-overlay").style.display = "none";

    }
    /*Rev End Pallab: grid modification*/

    function gridRowclick(s, e) {
        $('#gridStoreDetails').find('tr').removeClass('rowActive');
        $(s.GetRow(e.visibleIndex)).addClass('rowActive');

        $('.action-buttons').removeClass('visible').hide();


        var rowElement = $('#gridStoreDetails_DXDataRow' + e.visibleIndex);


        var actionButtons = $(rowElement).find('.action-buttons');


        var rowOffset = $(rowElement).offset();


        //actionButtons.css({
        //    top: rowOffset.top,
        //    left: rowOffset.left + ($(rowElement).outerWidth() / 2) - (actionButtons.outerWidth() / 2),
        //    zIndex: 9999 
        //});


        actionButtons.addClass('visible').fadeIn(200);
    }


    $(document).on('click', function (e) {
        if (!$(e.target).closest('.action-buttons, .dxgvDataRow').length) {
            $('.action-buttons').hide();
        }
    });


    function AddStore() {
        $("#hdnID").val('0');
        var url = '/StoreMaster/StoreAddEdit?key=Add';
        window.location.href = url;
    }

    function EditClick(ID)
    {
         $("#hdnID").val(ID);
         if (parseInt(ID) > 0) {
                 $.ajax({
                     type: "POST",
                     url: "@Url.Action("SetMapDataByID", "StoreMaster")",
                     data: { ID: ID, IsView: 0 },
                     success: function (response) {
                         if (response != null && response == true) {
                             var url = '/StoreMaster/StoreAddEdit?key=' + ID;
                             window.location.href = url;
                         }
                         else {
                             jAlert('Please try again later.');
                             return false;
                         }
                     }
                 });
         }


     }

    function DeleteClick(ID) {
        $("#hdnStoreCode").val(ID);


        // SweetAlert confirmation with custom icon
        Swal.fire({
            title: 'Are you sure you want to delete?',
            text: "This action cannot be undone!",
            imageUrl: '/assests/images/delete-big.png', // Custom icon for confirmation
            imageWidth: 40, // Adjust the width as needed
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes',
            cancelButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteStore", "StoreMaster")',
                    data: { store_id: ID },
                    success: function (response) {
                        if (parseInt(response) > 0) {
                            // SweetAlert success message with custom icon
                            Swal.fire({
                                title: 'Deleted!',
                                text: 'The record has been deleted successfully.',
                                /*imageUrl: '/path/to/your/success-icon.png', */
                                /*imageWidth: 50, */
                                icon: 'success' // You can also keep the built-in icon type
                            }).then(() => {
                                Is_PageLoad = "1";
                                gridStoreDetails.Refresh();
                            });
                        } else if (parseInt(response) == -10) {
                            // SweetAlert error message with custom icon
                            Swal.fire({
                                title: 'Sorry!',
                                text: 'Store already mapped with another module. Cannot delete.',
                                imageUrl: '/path/to/your/error-icon.png',
                                imageWidth: 50,
                                icon: 'error' // You can also keep the built-in icon type
                            });
                        } else {
                            // SweetAlert error message with custom icon
                            Swal.fire({
                                title: 'Sorry!',
                                text: 'Error in delete.',
                                imageUrl: '/path/to/your/error-icon.png',
                                imageWidth: 50,
                                icon: 'error' // You can also keep the built-in icon type
                            });
                        }
                    }
                });
            }
        });
    }

</script>


<div class="breadCumb">
    <span>Store Master</span>
</div>

<div class="overlay" id="loading-overlay">
    <div class="flex-loader">
        <img src="/assests/images/new-loader.gif" />
        <h4>Data is loading, Please Wait</h4>
    </div>

</div>

<div class="container ">
    <div class="row">
        <div class="col-md-12">
            <div class="backBox mt-5 px-4">
                <div class="row pt-4 pb-4">
                    <div class="col-md-2 party-list-buttons party-add-btn" style="margin-bottom: 0px;">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn add-btn" data-toggle="modal" data-backdrop="static" data-keyboard="false" onclick="AddStore();">
                            <span class="btn-icon"><i class="fa fa-plus"></i></span> Store
                        </button>

                    </div>
                    @*<div class="clear"></div>*@

                <div class="col-md-4  plr-5" style="">
                    <ul id="dateRangeSelector" class="d-flex">
                        <li id="today" class="active">Today</li>
                        <li id="mtd">MTD</li>
                        <li id="custom"><i class="fa fa-calendar" aria-hidden="true"></i> Custom</li>
                    </ul>
                    @*<span>Date Range</span>
        <select id="dateRangeSelector" class="form-control">
            <option value="custom">Custom</option>
            <option value="today">Today</option>
            <option value="mtd">MTD</option>
        </select>*@


                    <div id="customDateFields" class="row" style="display: none;">
                        <div class="col-md-3 for-cust-icon plr-5">
                            <span>From Date</span>
                            <div>
                                @Html.DevExpress().DateEditFor(x => x.Fromdate,
                                deSettings =>
                                {
                                    deSettings.Name = "dtFrom";
                                    deSettings.Date = DateTime.Now;
                                    deSettings.Properties.UseMaskBehavior = true;
                                    deSettings.Properties.EditFormat = EditFormat.Custom;
                                    deSettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                    deSettings.Properties.DisplayFormatString = "dd-MM-yyyy";
                                    deSettings.Properties.EditFormatString = "dd-MM-yyyy";
                                }).GetHtml()
                                <img src="/assests/images/calendar-icon.png" class="calendar-icon" />
                            </div>
                        </div>
                        <div class="col-md-3 for-cust-icon plr-5">
                            <span>To Date</span>
                            <div>
                                @Html.DevExpress().DateEditFor(x => x.Todate,
                                deSettings =>
                                {
                                    deSettings.Name = "dtTo";
                                    deSettings.Date = DateTime.Now;
                                    deSettings.Properties.UseMaskBehavior = true;
                                    deSettings.Properties.EditFormat = EditFormat.Custom;
                                    deSettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                                    deSettings.Properties.DisplayFormatString = "dd-MM-yyyy";
                                    deSettings.Properties.EditFormatString = "dd-MM-yyyy";
                                }).GetHtml()
                                <img src="/assests/images/calendar-icon.png" class="calendar-icon" />
                            </div>
                        </div>
                    </div>

                </div>

                    

                    @*<div class="col-md-3 for-cust-icon plr-5">
            <span>From Date</span>
            <div>
                @Html.DevExpress().DateEditFor(x => x.Fromdate,
            deSettings =>
            {
                deSettings.Name = "dtFrom";
                deSettings.Date = DateTime.Now;
                deSettings.Properties.UseMaskBehavior = true;
                deSettings.Properties.EditFormat = EditFormat.Custom;
                deSettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                deSettings.Properties.DisplayFormatString = "dd-MM-yyyy";
                deSettings.Properties.EditFormatString = "dd-MM-yyyy";
            }).GetHtml()
                <img src="/assests/images/calendar-icon.png" class="calendar-icon" />
            </div>
        </div>
        <div class="col-md-3 for-cust-icon plr-5">
            <span>To Date</span>
            <div>
                @Html.DevExpress().DateEditFor(x => x.Todate,
            deSettings =>
            {
                deSettings.Name = "dtTo";
                deSettings.Date = DateTime.Now;
                deSettings.Properties.UseMaskBehavior = true;
                deSettings.Properties.EditFormat = EditFormat.Custom;
                deSettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                deSettings.Properties.DisplayFormatString = "dd-MM-yyyy";
                deSettings.Properties.EditFormatString = "dd-MM-yyyy";
            }).GetHtml()
                <img src="/assests/images/calendar-icon.png" class="calendar-icon" />
            </div>
        </div>*@

                    <div class="col-md-3 plr-5" style="">
                        <span></span>
                        <div>
                            <button type="button" id="btnshow" class="btn show-btn" tabindex=4><span class="btn-icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Show Data</button>
                            <select name="ddlAppIds" class="btn btn-sm btn-primary" id="ddlAppIds">
                                <option value="0">Export to</option>
                                <option value="2">XLSX</option>
                            </select>
                        </div>
                    </div>
                    <div class="clear"></div>

                </div>
                <div class="clearfix"></div>

                <div class="scrooler">

                    <div id="refreshgrid">
                        @{
                            Html.RenderAction("PartialStoreMasterGridList", "StoreMaster", new { Fromdate = Model.Fromdate, Todate = Model.Todate, Is_PageLoad = "Ispageload" });
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

