
@using ModernRetail.Models;
@model ModernRetail.Models.ProductMasterModel
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .modal-header {
        padding: 8px;
        background: #094e8c;
        border-radius: 8px 8px 0 0;
    }

    button.close {
        color: #fff;
        font-weight: 300;
        opacity: .5;
    }

    .close:hover, .close:focus {
        color: #fff;
        opacity: 1;
    }

    .modal-content {
        border-radius: 10px;
    }

    .modal-footer {
        padding: 15px 10px 15px;
        border-top: 1px solid #c0c0c0;
    }


    .dxgvLoadingPanel_PlasticBlue {
        left: 42% !important;
    }
    /*Rev 2.0*/
    #gridUserList {
        width: 100% !important;
        max-width: 100% !important;
    }
    /*Rev end 2.0*/

    /*Rev 3.0*/

    #BranchGridLookup {
        min-height: 34px;
        border-radius: 5px;
    }

    .dxeButtonEditButton_PlasticBlue {
        background: #094e8c !important;
        border-radius: 4px !important;
        padding: 0 4px !important;
    }

    .chosen-container-single .chosen-single div {
        background: #094e8c;
        color: #fff;
        border-radius: 4px;
        height: 30px;
        top: 1px;
        right: 1px;
        /*position:relative;*/
    }

        .chosen-container-single .chosen-single div b {
            display: none;
        }

        .chosen-container-single .chosen-single div::after {
            content: '<';
            position: absolute;
            top: 2px;
            right: 3px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
        }

    .chosen-container-active.chosen-with-drop .chosen-single div {
        background: #094e8c;
        color: #fff;
    }

        .chosen-container-active.chosen-with-drop .chosen-single div::after {
            transform: rotate(90deg);
            right: 5px;
        }

    .calendar-icon {
        position: absolute;
        bottom: 8px;
        right: 14px;
        z-index: 0;
        cursor: pointer;
    }

    .date-select .form-control {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #ddlState, #ddlPartyType, #divoutletStatus, #slmonth, #slyear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .h-branch-select {
        position: relative;
        background: #fff;
        border-radius: 4px;
    }

        .h-branch-select::after {
            content: '<';
            position: absolute;
            top: 8px;
            right: -2px;
            font-size: 18px;
            transform: rotate(270deg);
            font-weight: 500;
            background: #094e8c;
            color: #fff;
            height: 18px;
            display: block;
            width: 28px;
            /* padding: 10px 0; */
            border-radius: 4px;
            text-align: center;
            line-height: 19px;
            z-index: 0;
        }

    .multiselect.dropdown-toggle {
        text-align: left;
    }

    .multiselect.dropdown-toggle, #ddlMonth, #ddlYear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .whclass.selectH {
        padding-right: 30px;
    }

    #ddlShowReport:focus-visible {
        box-shadow: none;
        outline: none;
        border: 1px solid #164f93;
    }

    #ddlShowReport:focus {
        border: 1px solid #164f93;
    }

    .whclass.selectH:focus-visible {
        outline: none;
    }

    .whclass.selectH:focus {
        border: 1px solid #164f93;
    }

    .dxeButtonEdit_PlasticBlue {
        border: 1px Solid #ccc;
    }

    .chosen-container-single .chosen-single {
        border: 1px solid #ccc;
        background: #fff;
        box-shadow: none;
    }

    .daterangepicker td.active, .daterangepicker td.active:hover {
        background-color: #175396;
    }

    label {
        font-weight: 500;
    }

    .dxgvHeader_PlasticBlue {
        background: #164f94;
    }

    .dxgvSelectedRow_PlasticBlue td.dxgv {
        color: #fff;
    }

    .dxeCalendarHeader_PlasticBlue {
        background: #185598;
    }

    .dxgvControl_PlasticBlue, .dxgvDisabled_PlasticBlue,
    .dxbButton_PlasticBlue,
    .dxeCalendar_PlasticBlue,
    .dxeEditArea_PlasticBlue {
        font-family: 'Poppins', sans-serif !important;
    }

    .dxgvEditFormDisplayRow_PlasticBlue td.dxgv, .dxgvDataRow_PlasticBlue td.dxgv, .dxgvDataRowAlt_PlasticBlue td.dxgv, .dxgvSelectedRow_PlasticBlue td.dxgv, .dxgvFocusedRow_PlasticBlue td.dxgv {
        font-weight: 500;
    }

    .btnPadding .btn {
        padding: 7px 14px !important;
        border-radius: 4px;
    }

    .btnPadding {
        padding-top: 24px !important;
    }

    .dxeButtonEdit_PlasticBlue {
        border-radius: 5px;
        height: 34px;
    }

    #dtFrom, #dtTo {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #tblshoplist_wrapper .dataTables_scrollHeadInner table tr th {
        background: #165092;
        vertical-align: middle;
        font-weight: 500;
    }

    /*#refreshgrid {
        background: #e5e5e5;
        padding: 0 10px;
        margin-top: 15px;
        border-radius: 8px;
    }*/

    .styled-checkbox {
        position: absolute;
        opacity: 0;
        z-index: 1;
    }

        .styled-checkbox + label {
            position: relative;
            /*cursor: pointer;*/
            padding: 0;
            margin-bottom: 0 !important;
        }

            .styled-checkbox + label:before {
                content: "";
                margin-right: 6px;
                display: inline-block;
                vertical-align: text-top;
                width: 16px;
                height: 16px;
                /*background: #d7d7d7;*/
                margin-top: 2px;
                border-radius: 2px;
                border: 1px solid #c5c5c5;
            }

        .styled-checkbox:hover + label:before {
            background: #094e8c;
        }


        .styled-checkbox:checked + label:before {
            background: #094e8c;
        }

        .styled-checkbox:disabled + label {
            color: #b8b8b8;
            cursor: auto;
        }

            .styled-checkbox:disabled + label:before {
                box-shadow: none;
                background: #ddd;
            }

        .styled-checkbox:checked + label:after {
            content: "";
            position: absolute;
            left: 3px;
            top: 9px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            transform: rotate(45deg);
        }

    #dtstate {
        padding-right: 8px;
    }

    .pmsModal .modal-header {
        /*background: #094e8c !important;
    background-image: none !important;*/
        padding: 11px 20px;
        border: none;
        border-radius: 15px 15px 0 0 !important;
        /*color: #fff;*/
        /*background: linear-gradient(to right, #1f5fbf, #11998e) !important;*/
    }

    .pmsModal .modal-content {
        border: none;
        background: linear-gradient(1deg, #cff3ff, #ffffff);
    }

    /*.pmsModal .modal-header .modal-title {
        font-size: 14px;
    }*/

    .pmsModal .modal-header .modal-title {
        font-size: 16px !important;
        color: #111;
        font-size: 24px;
    }

    .pmsModal .modal-header {
        background: transparent !important;
        margin-bottom: 10px;
        border-bottom: 1px solid #d5d5d5;
    }

    .close {
        font-size: 34px;
        opacity: .8;
    }

    button.close {
        color: #111 !important;
        font-weight: 400 !important;
        opacity: .8 !important;
        font-size: 32px !important;
    }

    .pmsModal .close {
        font-weight: 400;
        font-size: 25px;
        color: #fff;
        text-shadow: none;
        opacity: .5;
    }

    #EmployeeTable {
        margin-top: 10px;
    }

        #EmployeeTable table tr th {
            padding: 5px 10px;
        }

    .dynamicPopupTbl {
        font-family: 'Poppins', sans-serif !important;
    }

        .dynamicPopupTbl > tbody > tr > td,
        #EmployeeTable table tr th {
            font-family: 'Poppins', sans-serif !important;
            font-size: 12px;
        }

    .w150 {
        width: 160px;
    }

    .eqpadtbl > tbody > tr > td:not(:last-child) {
        padding-right: 20px;
    }

    #dtFrom_B-1, #dtTo_B-1 {
        background: transparent !important;
        border: none;
        width: 30px;
        padding: 10px !important;
    }

        #dtFrom_B-1 #dtFrom_B-1Img,
        #dtTo_B-1 #dtTo_B-1Img {
            display: none;
        }

    #dtFrom_I, #dtTo_I {
        background: transparent;
    }

    .for-cust-icon {
        position: relative;
        z-index: 1;
    }

    .pad-md-18 {
        padding-top: 24px;
    }

    .open .dropdown-toggle.btn-default {
        background: transparent !important;
    }

    .input-group-btn .multiselect-clear-filter {
        height: 32px;
        border-radius: 0 4px 4px 0;
    }

    .btn .caret {
        display: none;
    }

    .iminentSpan button.multiselect.dropdown-toggle {
        height: 34px;
    }

    .col-lg-2 {
        padding-left: 8px;
        padding-right: 8px;
    }

    select:not(.btn) {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .dxgvControl_PlasticBlue a {
        margin: 0 3px;
    }

    .dxeButtonDisabled_PlasticBlue {
        background: #ababab !important;
    }

    .red {
        color: red;
    }

    .linerHd {
        background: #4e8fcf !important;
    }

    /*Rev end 3.0*/
    /*Rev 4.0*/
    #popup_message {
        padding-left: 0 !important;
        text-align: center !important;
    }

    #popup_panel {
        margin: 14px 0 5px;
    }

    #popup_ok, #popup_cancel {
        border-radius: 4px !important;
    }
    /*Rev end 4.0*/
    /*Rev 5.0*/
    #gridUserList_DXPagerTop_PSP, #gridUserList_DXPagerBottom_PSP {
        right: 36px !important;
        left: auto !important;
    }
    /*Rev end 5.0*/


    .add-btn .btn-icon {
        border-radius: 50px;
        width: 21px;
        height: 21px;
        display: inline-block;
        background: #fff;
        line-height: 21px;
        margin-right: 5px;
    }

    .add-btn {
        transition: all .4s;
    }

        .add-btn:hover {
            color: #fff;
            background-color: #0e4f23;
            border-color: #0e4f23;
        }

        .add-btn .btn-icon i {
            color: #238945;
        }

    .add-btn {
        background-color: #238945;
        /*margin-right: 5px;*/
    }

    .btn {
        border-radius: 8px;
        height: 38px;
        padding-left: 12px;
        padding-right: 12px;
        color: #fff;
    }

        .btn:active, .btn:hover, .btn:focus {
            color: #fff !important;
        }

    .buttons-alignment {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .show-btn .btn-icon {
        border-radius: 50px;
        width: 21px;
        height: 21px;
        display: inline-block;
        background: #fff;
        line-height: 21px;
        margin-right: 5px;
        color: #054682;
    }

    .show-btn {
        background: #054682;
        transition: all .4s;
        margin-right: 5px;
    }

        .show-btn:hover {
            background: #072743;
        }

    .btn-cancel {
        background-color: #DC0505;
        color: #fff;
    }

    .btn-export {
        background: #e17134;
        color: #fff;
    }

        .btn-export:hover {
            background: #9d9d9d !important;
            color: #fff;
        }

    .swal2-confirm.swal2-styled {
        border-radius: 8px !important;
    }

    .swal2-styled {
        border-radius: 12px !important;
        padding: 8px 20px !important;
        color: #fff !important;
        font-size: 14px !important;
    }

    .swal2-html-container {
        margin-top: 5px !important;
    }

    div:where(.swal2-container) button:where(.swal2-styled):not([disabled]) {
        width: 90px !important;
        border-radius: 8px !important;
    }

    div:where(.swal2-container).swal2-backdrop-show, div:where(.swal2-container).swal2-noanimation {
        background: rgb(0 0 0 / 50%) !important;
    }

    div:where(.swal2-container).swal2-center > .swal2-popup {
        background: linear-gradient(1deg, #cff3ff, #ffffff);
    }


    .tooltip-container {
        position: relative;
        display: inline-block;
    }

    .tooltip {
        visibility: hidden;
        /*width: 140px;*/
        background-color: #0d8f24;
        color: #fff;
        text-align: center;
        border-radius: 10px;
        padding: 8px 10px;
        position: absolute;
        z-index: 99;
        bottom: 130%;
        left: 48%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;
        word-break: keep-all;
    }

        .tooltip::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -10px;
            border-width: 10px;
            border-style: solid;
            border-color: #0d8f24 transparent transparent transparent;
        }

    .tooltip-container:hover .tooltip {
        visibility: visible;
        opacity: 1;
    }

    .dxgvEditFormDisplayRow_PlasticBlue td.dxgv, .dxgvDataRow_PlasticBlue td.dxgv, .dxgvDataRowAlt_PlasticBlue td.dxgv, .dxgvSelectedRow_PlasticBlue td.dxgv, .dxgvFocusedRow_PlasticBlue td.dxgv {
        overflow: visible;
    }

    #btnSave .btn-icon, .cancel-catg .btn-icon {
        border-radius: 50px;
        width: 21px;
        height: 21px;
        display: inline-block;
        background: #fff;
        line-height: 20px;
        margin-right: 5px;
    }

        #btnSave .btn-icon img {
            color: #238945;
            width: 14px;
        }

    .cancel-catg, #btnSave {
        transition: all .3s ease-in-out;
    }

        .cancel-catg .btn-icon img {
            color: #DC0505;
            width: 16px;
        }

        .cancel-catg:hover {
            transform: scale(1.1);
        }

        #btnSave:hover {
            transform: scale(1.1);
        }

    .modal-footer .btn + .btn {
        margin-bottom: 0;
        margin-left: 10px;
        margin-right: 0 !important;
    }

    .cancel-catg {
        margin-right: 5px;
    }

    .close:hover, .close:focus {
        color: #111 !important;
    }

    /*Rev Pallab: grid modification*/

    .dxgvEditFormDisplayRow_PlasticBlue td.dxgv, .dxgvDataRow_PlasticBlue td.dxgv, .dxgvDataRowAlt_PlasticBlue td.dxgv, .dxgvSelectedRow_PlasticBlue td.dxgv, .dxgvFocusedRow_PlasticBlue td.dxgv {
        /*overflow: hidden;*/
        word-break: break-word;
    }

    .rowActive {
        background-color: #ebf4ff !important;
        color: #000 !important;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        z-index: 9999;
        display: none; /* Initially hidden */
    }

    .flex-loader {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .dxgvLoadingPanel_PlasticBlue {
        display: none !important;
    }

    .flex-loader img {
        width: 120px;
    }

    .flex-loader h4 {
        font-size: 22px;
        color: #000000;
    }

    .btn-export {
        background: #d0d0d0;
    }

        .btn-export .btn-icon img {
            width: 30px;
            height: 30px;
        }
    /*Rev End Pallab: grid modification*/
</style>
<style>
    .modal-header {
        padding: 8px;
        background: #094e8c;
        border-radius: 8px 8px 0 0;
    }

    button.close {
        color: #fff;
        font-weight: 300;
        opacity: .5;
    }

    .close:hover, .close:focus {
        color: #fff;
        opacity: 1;
    }

    .modal-content {
        border-radius: 10px;
    }

    .modal-footer {
        padding: 10px 20px 10px;
    }

    .dxgvLoadingPanel_PlasticBlue {
        left: 42% !important;
    }
    /*Rev 2.0*/
    #gridUserList {
        width: 100% !important;
        max-width: 100% !important;
    }
    /*Rev end 2.0*/

    /*Rev 3.0*/

    #BranchGridLookup {
        min-height: 34px;
        border-radius: 5px;
    }

    .dxeButtonEditButton_PlasticBlue {
        background: #094e8c !important;
        border-radius: 4px !important;
        padding: 0 4px !important;
    }

    .chosen-container-single .chosen-single div {
        background: #094e8c;
        color: #fff;
        border-radius: 4px;
        height: 30px;
        top: 1px;
        right: 1px;
        /*position:relative;*/
    }

        .chosen-container-single .chosen-single div b {
            display: none;
        }

        .chosen-container-single .chosen-single div::after {
            content: '<';
            position: absolute;
            top: 2px;
            right: 3px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
        }

    .chosen-container-active.chosen-with-drop .chosen-single div {
        background: #094e8c;
        color: #fff;
    }

        .chosen-container-active.chosen-with-drop .chosen-single div::after {
            transform: rotate(90deg);
            right: 5px;
        }

    .calendar-icon {
        position: absolute;
        bottom: 8px;
        right: 14px;
        z-index: 0;
        cursor: pointer;
    }

    .date-select .form-control {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #ddlState, #ddlPartyType, #divoutletStatus, #slmonth, #slyear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .h-branch-select {
        position: relative;
    }

        .h-branch-select::after {
            content: '<';
            position: absolute;
            top: 8px;
            right: -2px;
            font-size: 18px;
            transform: rotate(269deg);
            font-weight: 500;
            background: #094e8c;
            color: #fff;
            height: 18px;
            display: block;
            width: 28px;
            /* padding: 10px 0; */
            border-radius: 4px;
            text-align: center;
            line-height: 19px;
            z-index: 0;
        }

    .multiselect.dropdown-toggle {
        text-align: left;
    }

    .multiselect.dropdown-toggle, #ddlMonth, #ddlYear {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .whclass.selectH {
        padding-right: 30px;
    }

    #ddlShowReport:focus-visible {
        box-shadow: none;
        outline: none;
        border: 1px solid #164f93;
    }

    #ddlShowReport:focus {
        border: 1px solid #164f93;
    }

    .whclass.selectH:focus-visible {
        outline: none;
    }

    .whclass.selectH:focus {
        border: 1px solid #164f93;
    }

    .dxeButtonEdit_PlasticBlue {
        border: 1px Solid #ccc;
    }

    .chosen-container-single .chosen-single {
        border: 1px solid #ccc;
        background: #fff;
        box-shadow: none;
    }

    .daterangepicker td.active, .daterangepicker td.active:hover {
        background-color: #175396;
    }

    label {
        font-weight: 500;
    }

    .dxgvHeader_PlasticBlue {
        background: #164f94;
    }

    .dxgvSelectedRow_PlasticBlue td.dxgv {
        color: #fff;
    }

    .dxeCalendarHeader_PlasticBlue {
        background: #185598;
    }

    .dxgvControl_PlasticBlue, .dxgvDisabled_PlasticBlue,
    .dxbButton_PlasticBlue,
    .dxeCalendar_PlasticBlue,
    .dxeEditArea_PlasticBlue {
        font-family: 'Poppins', sans-serif !important;
    }

    .dxgvEditFormDisplayRow_PlasticBlue td.dxgv, .dxgvDataRow_PlasticBlue td.dxgv, .dxgvDataRowAlt_PlasticBlue td.dxgv, .dxgvSelectedRow_PlasticBlue td.dxgv, .dxgvFocusedRow_PlasticBlue td.dxgv {
        font-weight: 500;
    }

    .btnPadding .btn {
        padding: 7px 14px !important;
        border-radius: 4px;
    }

    .btnPadding {
        padding-top: 24px !important;
    }

    .dxeButtonEdit_PlasticBlue {
        border-radius: 5px;
        height: 34px;
    }

    #dtFrom, #dtTo {
        position: relative;
        z-index: 1;
        background: transparent;
    }

    #tblshoplist_wrapper .dataTables_scrollHeadInner table tr th {
        background: #165092;
        vertical-align: middle;
        font-weight: 500;
    }

    /*#refreshgrid {
            background: #e5e5e5;
            padding: 0 10px;
            margin-top: 15px;
            border-radius: 8px;
        }*/

    .styled-checkbox {
        position: absolute;
        opacity: 0;
        z-index: 1;
    }

        .styled-checkbox + label {
            position: relative;
            /*cursor: pointer;*/
            padding: 0;
            margin-bottom: 0 !important;
        }

            .styled-checkbox + label:before {
                content: "";
                margin-right: 6px;
                display: inline-block;
                vertical-align: text-top;
                width: 16px;
                height: 16px;
                /*background: #d7d7d7;*/
                margin-top: 2px;
                border-radius: 2px;
                border: 1px solid #c5c5c5;
            }

        .styled-checkbox:hover + label:before {
            background: #094e8c;
        }


        .styled-checkbox:checked + label:before {
            background: #094e8c;
        }

        .styled-checkbox:disabled + label {
            color: #b8b8b8;
            cursor: auto;
        }

            .styled-checkbox:disabled + label:before {
                box-shadow: none;
                background: #ddd;
            }

        .styled-checkbox:checked + label:after {
            content: "";
            position: absolute;
            left: 3px;
            top: 9px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
            transform: rotate(45deg);
        }

    #dtstate {
        padding-right: 8px;
    }

    .pmsModal .modal-header {
        background: #094e8c !important;
        background-image: none !important;
        padding: 11px 20px;
        border: none;
        border-radius: 5px 5px 0 0;
        color: #fff;
        border-radius: 10px 10px 0 0;
    }

    .pmsModal .modal-content {
        border: none;
        border-radius: 10px;
    }

    .pmsModal .modal-header .modal-title {
        font-size: 14px;
    }

    .pmsModal .close {
        font-weight: 400;
        font-size: 25px;
        color: #fff;
        text-shadow: none;
        opacity: .5;
    }

    #EmployeeTable {
        margin-top: 10px;
    }

        #EmployeeTable table tr th {
            padding: 5px 10px;
        }

    .dynamicPopupTbl {
        font-family: 'Poppins', sans-serif !important;
    }

        .dynamicPopupTbl > tbody > tr > td,
        #EmployeeTable table tr th {
            font-family: 'Poppins', sans-serif !important;
            font-size: 12px;
        }

    .w150 {
        width: 160px;
    }

    .eqpadtbl > tbody > tr > td:not(:last-child) {
        padding-right: 20px;
    }

    #dtFrom_B-1, #dtTo_B-1 {
        background: transparent !important;
        border: none;
        width: 30px;
        padding: 10px !important;
    }

        #dtFrom_B-1 #dtFrom_B-1Img,
        #dtTo_B-1 #dtTo_B-1Img {
            display: none;
        }

    #dtFrom_I, #dtTo_I {
        background: transparent;
    }

    .for-cust-icon {
        position: relative;
        z-index: 1;
    }

    .pad-md-18 {
        padding-top: 24px;
    }

    .open .dropdown-toggle.btn-default {
        background: transparent !important;
    }

    .input-group-btn .multiselect-clear-filter {
        height: 32px;
        border-radius: 0 4px 4px 0;
    }

    .btn .caret {
        display: none;
    }

    .iminentSpan button.multiselect.dropdown-toggle {
        height: 34px;
    }

    .col-lg-2 {
        padding-left: 8px;
        padding-right: 8px;
    }

    select:not(.btn) {
        -webkit-appearance: none;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .dxgvControl_PlasticBlue a {
        margin: 0 3px;
    }

    .dxeButtonDisabled_PlasticBlue {
        background: #ababab !important;
    }

    .red {
        color: red;
    }

    .linerHd {
        background: #4e8fcf !important;
    }

    #popup_message {
        padding-left: 0 !important;
        text-align: center !important;
    }

    #popup_panel {
        margin: 14px 0 5px;
    }

    #popup_ok, #popup_cancel {
        border-radius: 4px !important;
    }

    #gridUserList_DXPagerTop_PSP, #gridUserList_DXPagerBottom_PSP {
        right: 36px !important;
        left: auto !important;
    }

    #myImportProductModal .modal-body {
        border-radius: 0 0 20px 20px;
    }

    .btn-primary {
        background-color: #09527b;
    }

    .btn-info {
        background-color: #1eadb9;
    }

    .btn-warning {
        background-color: #bf822c;
    }

    .btn-view-log {
        background: #7919a9;
        color: #fff;
    }

        .btn-view-log:hover {
            color: #fff;
            background: #440662;
        }

    .btn-show {
        background: #011a9d;
        color: #fff;
    }

        .btn-show:hover {
            color: #fff;
            background: #031366;
        }

    .tblspace > tbody > tr > td {
        padding-right: 10px;
    }

    .btn:focus {
        color: #fff;
    }


    /*Rev Pallab: grid modification*/



    .rowActive {
        background-color: #ebf4ff !important;
        color: #000 !important;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        z-index: 9999;
        display: none; /* Initially hidden */
    }

    .flex-loader {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .dxgvLoadingPanel_PlasticBlue {
        display: none !important;
    }

    .flex-loader img {
        width: 120px;
    }

    .flex-loader h4 {
        font-size: 22px;
        color: #000000;
    }

    .btn-export {
        background: #d0d0d0;
    }

        .btn-export .btn-icon img {
            width: 30px;
            height: 30px;
        }


    input:focus, textarea:focus, select:focus {
        outline: none;
    }

    .select2-container {
        width: 100% !important;
        z-index: 99999;
    }

    .select2-container--default .select2-selection--single {
        height: 34px;
        /* padding: 6px 12px; */
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 6px;
    }

    /*.select2-container {
        z-index: 1;
    }*/

    .select2-container--default .select2-selection--single {
        background-color: transparent;
    }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            display: none;
        }

    .select2-container--default .select2-search--dropdown .select2-search__field {
        border-radius: 4px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 32px;
        padding-right: 22px;
    }
    /*Rev End Pallab: grid modification*/

    .btn.btnwidth .btn-icon {
        border-radius: 50px;
        width: 26px;
        height: 26px;
        display: inline-block;
        background: #fff;
        line-height: 23px;
        margin-right: 5px;
        /*color: #054682;*/
    }

        .btn.btnwidth .btn-icon img {
            width: 16px;
        }

    .btn-info {
        background-color: #129eaa;
    }

    .pmsModal .modal-header {
        background: transparent !important;
        margin-bottom: 10px;
        border-bottom: 1px solid #d5d5d5;
    }

        .pmsModal .modal-header .close {
            margin-top: -4px;
        }

    .pmsModal .modal-body {
        padding: 10px 20px;
    }

    .mTop5 button {
        margin-top: 10px;
        height: 34px;
        padding: 0px 10px 3px;
    }

    .validationDiv {
        margin-bottom: 10px;
    }

    #pcModalImportViewMode_PW-1 {
        border-radius: 14px;
    }

    #pcModalImportViewMode_PWC-1 {
        padding: 7px 10px 30px;
    }

    .dxpcLite_PlasticBlue .dxpc-contentWrapper {
        border-radius: 0 0 14px 14px;
    }

    .dxpcLite_PlasticBlue .dxpc-header {
        padding: 6px 4px 6px 10px;
        border-radius: 14px 14px 0 0;
    }

    #ProductAddModal .modal-dialog {
        width: 55%;
    }

    .d-flex {
        flex-wrap: wrap;
    }

    div:where(.swal2-container) {
        z-index: 99999;
    }

    .dxpcLite_PlasticBlue .dxpc-mainDiv, .dxpcLite_PlasticBlue.dxpc-mainDiv, .dxdpLite_PlasticBlue .dxpc-mainDiv, .dxdpLite_PlasticBlue.dxpc-mainDiv {
        border-radius: 14px;
    }
</style>

<script>
    var Ispageload = "0";

    $(function () {


        $('#ddlAppIds').on('click', function () {
        var selectedValue = "1"; // XLSX export value
        var url = '@Url.Action("ExporProductMasterList", "ProductMaster", new { type = "_type_" })';
        window.location.href = url.replace("_type_", selectedValue);
        });




        $('.numbersOnly').keyup(function () {
            if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
                this.value = this.value.replace(/[^0-9\.]/g, '');
            }
        });

        $(".allow_decimal").on("input", function (evt) {
            var self = $(this);
            self.val(self.val().replace(/[^0-9\.]/g, ''));
            if ((evt.which != 46 || self.val().indexOf('.') != -1) && (evt.which < 48 || evt.which > 57)) {
                evt.preventDefault();
            }
        });
    });

</script>

<script>
    $(document).ready(function () {
        $('#txtProductMRP').on('input', function () {
            var inputValue = $(this).val().replace(/[^0-9.]/g, ''); // Remove non-numeric characters except for the dot
            var parts = inputValue.split('.');

            // Allow up to 15 digits before the decimal
            if (parts[0].length > 15) {
                parts[0] = parts[0].substring(0, 15);
            }

            // Limit decimals to 2
            if (parts[1] && parts[1].length > 2) {
                parts[1] = parts[1].substring(0, 2);
            }

            // Combine the integer and decimal parts with only one decimal point
            var sanitizedValue = parts.length > 1 ? parts[0] + '.' + parts.slice(1).join('') : parts[0];
            $(this).val(sanitizedValue);
        });

        $('#txtProductPrice').on('input', function () {
            var inputValue = $(this).val().replace(/[^0-9.]/g, ''); // Remove non-numeric characters except for the dot
            var parts = inputValue.split('.');

            // Allow up to 15 digits before the decimal
            if (parts[0].length > 15) {
                parts[0] = parts[0].substring(0, 15);
            }

            // Limit decimals to 2
            if (parts[1] && parts[1].length > 2) {
                parts[1] = parts[1].substring(0, 2);
            }

            // Combine the integer and decimal parts with only one decimal point
            var sanitizedValue = parts.length > 1 ? parts[0] + '.' + parts.slice(1).join('') : parts[0];
            $(this).val(sanitizedValue);
        });
    });
</script>
<script>
    function AddNew() {
        $("#hdnProductID").val('0');
        $("#txtProductCode").val('');
        $("#txtProductMRP").val('0');
        $("#txtProductName").val('');
        $("#txtProductPrice").val('0');

        $("#ddlProductClass").val('0').trigger('change');;
        $("#ddlProductStrength").val('0').trigger('change');;
        $("#ddlProductUnit").val('0').trigger('change');;
        $("#ddlProductBrand").val('0').trigger('change');;
        $("#ddlProductStatus").val('1');

        $("#ProductAddModal").modal('show');
    }

    function EditClick(ID) {
        $("#hdnProductID").val(ID);

        $.ajax({
            type: "POST",
            url: "@Url.Action("EditProduct", "ProductMaster")",
            data: { id: ID },
            success: function (response) {
                if (response.code == "") {
                    jAlert('No data found');
                }
                else {
                    $("#txtProductCode").val(response.ProductCode);
                    $("#txtProductMRP").val(response.ProductMRP);
                    $("#txtProductName").val(response.ProductName);
                    $("#txtProductPrice").val(response.ProductPrice);

                   // $("#ddlProductClass").val(response.ProductClass);
                    $("#ddlProductClass").val(response.ProductClass).trigger('change');


                    $("#ddlProductStrength").val(response.ProductStrength).trigger('change');

                    $("#ddlProductUnit").val(response.ProductUnit).trigger('change');

                    $("#ddlProductBrand").val(response.ProductBrand).trigger('change');

                    $("#ddlProductStatus").val(response.ProductStatus);

                    $("#ProductAddModal").modal('show');

                }
            }

        });
    }

    function OnStartCallback(s, e) {
        e.customArgs["Ispageload"] = "1";
        /*Rev Pallab: grid modification*/
        document.getElementById("loading-overlay").style.display = "block";
        /*Rev End Pallab: grid modification*/
    }

    /*Rev Pallab: grid modification*/
    function OnEndCallback() {

        document.getElementById("loading-overlay").style.display = "none";

    }
    /*Rev End Pallab: grid modification*/

    function ShowData() {
        gridProductList.Refresh();
    }

    function SaveProduct() {
        var id = $("#hdnProductID").val();

        if ($("#txtProductCode").val().trim() == "") {


            Swal.fire({
                icon: 'warning',
                title: 'Warning',
                text: 'Enter Item Code to proceed.'
            });
            return false;
        }
        else if ($("#txtProductName").val().trim() == "") {

            Swal.fire({
                icon: 'warning',
                title: 'Warning',
                text: 'Enter Item Name to proceed.'
            });
            return false;
        }
        else if ($("#ddlProductClass").val() == "0") {

            Swal.fire({
                icon: 'warning',
                title: 'Warning',
                text: 'Select Item Class/Category to proceed.'
            });
            return false;
        }
        else if ($("#ddlProductBrand").val() == "0") {

            Swal.fire({
                icon: 'warning',
                title: 'Warning',
                text: 'Select Item Brand to proceed.'
            });
            return false;
        }
        else if ($("#ddlProductStrength").val() == "0") {

            Swal.fire({
                icon: 'warning',
                title: 'Warning',
                text: 'Select Item Strength to proceed.'
            });
            return false;
        }
        else if ($("#txtProductPrice").val() == 0) {

            Swal.fire({
                icon: 'warning',
                title: 'Warning',
                text: 'Enter Item Price to proceed.'
            });
            return false;
        }
        else if ($("#txtProductMRP").val() == 0) {

            Swal.fire({
                icon: 'warning',
                title: 'Warning',
                text: 'Enter Item MRP to proceed.'
            });
            return false;
        }
        else if ($("#ddlProductUnit").val() == "0") {

            Swal.fire({
                icon: 'warning',
                title: 'Warning',
                text: 'Select Item Unit to proceed.'
            });
            return false;
        }

        else {
            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveProduct", "ProductMaster")",
                data: {
                    id: id, ProductCode: $("#txtProductCode").val(), ProductName: $("#txtProductName").val(), ProductMRP: $("#txtProductMRP").val(), ProductPrice: $("#txtProductPrice").val(),
                    ProductClass: $("#ddlProductClass").val(), ProductStrength: $("#ddlProductStrength").val(), ProductUnit: $("#ddlProductUnit").val(), ProductBrand: $("#ddlProductBrand").val(),
                    ProductStatus: $("#ddlProductStatus").val()
                },
                success: function (response) {
                    if (parseInt(response) > 0) {
                        Swal.fire({
                            title: 'Success!',
                            text: 'Product saved successfully.',
                            icon: 'success',
                            confirmButtonText: 'OK'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $("#ProductAddModal").modal('hide');
                                //gridList.Refresh();
                                location.reload();
                            }
                        });
                    }
                    else if (parseInt(response) == -1) {
                        // jAlert('Product code already exists.')
                        Swal.fire({
                            icon: 'warning',
                            title: 'Warning',
                            text: 'Product code already exists.'
                        });
                    }
                    else if (parseInt(response) == -10) {
                    //jAlert('Please try after sometime.')
                        Swal.fire({
                            icon: 'warning',
                            title: 'Warning',
                            text: 'Please try after sometime.'
                        });
                    }
                }
            });
        }
    }

    function DeleteClick(ID) {
        $("#hdnProductID").val(ID);
        @*jConfirm('Are you sure to delete?', 'Alert', function (r) {
            if (r == true)
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DeleteProduct", "ProductMaster")",
                    data: { ID: ID},
                    success: function (response) {
                       if (parseInt(response) > 0) {
                            if (confirm("Deleted successfully.")) {
                                location.reload();
                            }
                        }
                        else if (parseInt(response) == -1) {
                        /*   jAlert('Transaction exists. Cannot delete.')*/
                           Swal.fire({
                               icon: 'warning',
                               title: 'Warning',
                               text: 'Transaction exists. Cannot delete.'
                           });
                        }
                    }
                });
        });*@

                 Swal.fire({
             title: 'Are you sure you want to delete?',
             text: "This action cannot be undone!",
             imageUrl: '/assests/images/delete-big.png', // Custom icon for confirmation
             imageWidth: 40, // Adjust the width as needed
             showCancelButton: true,
             confirmButtonColor: '#3085d6',
             cancelButtonColor: '#d33',
             confirmButtonText: 'Yes',
             cancelButtonText: 'No'
         }).then((result) => {
             if (result.isConfirmed) {
                 $.ajax({
                     type: "POST",
                     url: '@Url.Action("DeleteProduct", "ProductMaster")',
                     data: { ID: ID },
                     success: function (response) {
                         if (parseInt(response) > 0) {
                             // SweetAlert success message with custom icon
                             Swal.fire({
                                 title: 'Deleted!',
                                 text: 'The record has been deleted successfully.',
                                 /*imageUrl: '/path/to/your/success-icon.png', */
                                 /*imageWidth: 50, */
                                 icon: 'success' // You can also keep the built-in icon type
                             }).then(() => {
                                 location.reload();
                             });
                         } else if (parseInt(response) == -1) {
                             // SweetAlert error message with custom icon
                             Swal.fire({
                                 title: 'Sorry!',
                                 text: 'Product  already mapped with another module. Cannot delete.',
                                 imageUrl: '/path/to/your/error-icon.png',
                                 imageWidth: 50,
                                 icon: 'error' // You can also keep the built-in icon type
                             });
                         }
                     }
                 });
             }
         });
    }

     function DownloadFormat() {
        var url = '@Url.Action("DownloadFormat", "ProductMaster")'
        window.location.href = url;
    }

    function ImportProductPopOpen() {
        $("#myImportProductModal").modal('show');
    }

    function ChekEmpSettingsUpload() {
        todate = null;
        fromdate = null;
        var isprocess = false;
        var filename = $("#fileprod").val();
        if ($('#fileprod').get(0).files.length === 0) {
            //jAlert("No files selected.");
            Swal.fire({
                icon: 'warning',
                title: 'Warning',
                text: 'No files selected.'
            });

            return false;
        }
        else {
            var extension = filename.replace(/^.*\./, '');
            switch (extension.toLowerCase()) {
                case 'xls':
                    isprocess = true;
                case 'xlsx':
                    isprocess = true;
                default:
                    // Cancel the form submission
                    if (!isprocess) {
                       // jAlert('Only excel file require.');
                        Swal.fire({
                            icon: 'warning',
                            title: 'Warning',
                            text: 'Only excel file require.'
                        });
                        return false;
                    }
            }
        }

        if (isprocess == true) {
            var fileUpload = $("#fileprod").get(0);
            var files = fileUpload.files;

            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }


            $.ajax({
                url: "@Url.Action("ImportExcel", "ProductMaster")",
                type: "POST",
                contentType: false,
                processData: false,
                data: fileData,
                success: function (result) {
                    jAlert(result, 'Alert', function () {
                        $("#fileprod").val('');
                        $("#myImportProductModal").modal('hide');
                    });

                },
                error: function (err) {
                   // jAlert(err.statusText);
                    Swal.fire({
                        icon: 'warning',
                        title: 'Warning',
                        text: err.statusText
                    });

                }
            });
        }
    }

    function ImportLogPopOpen() {
        var d = new Date();

        dtLogFrom.SetValue(d);
        dtLogTo.SetValue(d);

        pcModalImportViewMode.Show();
    }

    function ProductImportUserLog() {
     var url = '/ProductMaster/ProductImportLog/';
        $.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify({ 'Fromdt': dtLogFrom.GetText(), 'ToDate': dtLogTo.GetText() }),
            async: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log(response);
                if (response == "True") {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("ImportLog", "ProductMaster")",
                        success: function (response) {
                            if (response) {
                                //$("#ReAssignedModal_AreaRouteBeat").modal('hide');
                                pcModalTemplateImportLog.Show();
                                gridProductImportLog.Refresh();
                                gridProductImportLog.Refresh();
                            }
                        }
                    });
                }
                else {
                    //jAlert(response);
                    Swal.fire({
                        icon: 'warning',
                        title: 'Warning',
                        text: response
                    });

                }
            },
            error: function (response) {
                console.log(response);
            }
        });
    }


    /*Rev Pallab: grid modification*/
    function gridRowclick(s, e) {
        $('#gridProductList').find('tr').removeClass('rowActive');


        $(s.GetRow(e.visibleIndex)).addClass('rowActive');

    }
    /*Rev End Pallab: grid modification*/


    $(document).ready(function () {
        $('#ddlProductClass').select2({
            placeholder: "Select",
            allowClear: false
        });

        $('#ddlProductBrand').select2({
            placeholder: "Select",
            allowClear: false
        });

        $('#ddlProductStrength').select2({
            placeholder: "Select",
            allowClear: false
        });

        //$('#ddlProductStatus').select2({
        //    placeholder: "Select",
        //    allowClear: false
        //});

        $('#ddlProductUnit').select2({
            placeholder: "Select",
            allowClear: false
        });
    });

</script>

<div class="breadCumb">
    <span>Products</span>
</div>

@*Rev Pallab: grid modification*@
<div class="overlay" id="loading-overlay">
    <div class="flex-loader">
        <img src="/assests/images/new-loader.gif" />
        <h4>Data is loading, Please Wait</h4>
    </div>

</div>
@*Rev End Pallab: grid modification*@

<div class="container">
    <div class="form_main backBox p-3">
        <div class="pull-left tblspace smblock d-flex mt-2 mb-4 ">
            @*<tr>*@
            @if (ViewBag.CanAdd)
            {
                <div class="mr-3" style="">
                    <button type="button" id="btnAdd" class="btn add-btn" onclick="AddNew()">
                        <span class="btn-icon"><i class="fa fa-plus"></i></span>Add New
                    </button>


                </div>
            }
            @if (ViewBag.CanExport)
            {
                <div class="mr-3" style="">


                    <button type="button" name="ddlAppIds" id="ddlAppIds" class="btn btn-sm btn-export tooltip-container">
                        <span class="btn-icon"><img src="/assests/images/excel.png" /></span>
                        <div class="tooltip">Export to XLSX</div>
                    </button>
                </div>
            }
            @if (ViewBag.CanAdd)
            {
                <div class="mr-3" style="">
                    <button type="button" id="btnDownloadFormat" class="btn btn-info btnwidth" onclick="DownloadFormat()"><span class="btn-icon"><img src="../../../assests/images/download-format.svg"></span> Download Format</button>
                </div>
                <div class="mr-3" style="">
                    <button type="button" id="btnImport" class="btn btn-warning btnwidth" onclick="ImportProductPopOpen()"><span class="btn-icon"><img src="../../../assests/images/file-import.svg"></span> Import(Add/Update)</button>
                </div>
                <div class="mr-3" style="">
                    <button type="button" id="btnShowImportLog" class="btn btn-view-log btnwidth" onclick="ImportLogPopOpen()"><span class="btn-icon"><img src="../../../assests/images/log-files.svg"></span> View Log</button>
                </div>
            }
            @if (ViewBag.CanView)
            {
                <div class="mr-3" style="">
                    <button type="button" id="btnShowData" class="btn show-btn" onclick="ShowData()"><span class="btn-icon"><i class="fa fa-eye" aria-hidden="true"></i></span>Show Data</button>

                </div>
            }
            @*</tr>
                <tr></tr>*@
        </div>
        <br />
        <div class="scrooler">
            <div id="refreshgrid">
                @{
                    Html.RenderAction("_PartialProductGrid", "ProductMaster", new { Ispageload = "0" });
                }
            </div>
        </div>
    </div>
</div>

@Html.DevExpress().PopupControl(
           settings =>
           {
               settings.Name = "pcModalImportViewMode";
               settings.Width = 300;
               settings.AllowDragging = true;
               settings.CloseAction = CloseAction.CloseButton;
               settings.CloseOnEscape = true;
               settings.PopupAnimationType = AnimationType.None;
               settings.HeaderText = "Bulk Update Party Log";
               settings.Modal = true;
               settings.AutoUpdatePosition = true;
               settings.Top = 50;
               settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
               settings.PopupVerticalAlign = PopupVerticalAlign.Above;
               settings.SetContent(() =>
               {
                   Html.RenderPartial("_ProductImportManualLogView");
               });
           }).GetHtml()

@Html.DevExpress().PopupControl(
        settings =>
        {
            settings.Name = "pcModalTemplateImportLog";
            settings.Width = 1000; //System.Web.UI.WebControls.Unit.Percentage(80);
                                    //settings.Height = 220;
                                    //settings.ScrollBars.v
            settings.AllowDragging = true;
            settings.CloseAction = CloseAction.CloseButton;
            settings.CloseOnEscape = true;
            settings.PopupAnimationType = AnimationType.None;
            settings.HeaderText = "Product Import Log";
            settings.Modal = true;
            settings.AutoUpdatePosition = true;
            settings.Top = 50;
            settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
            settings.PopupVerticalAlign = PopupVerticalAlign.Above;
            settings.SetContent(() =>
            {
                Html.RenderPartial("ImportLog", new List<ProductImportLog>());
            });
        }).GetHtml()

<div id="myImportProductModal" class="modal fade pmsModal w30" data-backdrop="static" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="close()">&times;</button>
                <h4 class="modal-title">Import Excel Template For Products</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="divproduct">
                                    <label class="uplabel mb-4">Select File to Import (Add/Update)</label>
                                    <div><input type="file" id="fileprod" accept=".xls,.xlsx"></div>
                                    <div class="pTop10  mTop5 mt-4"><input type="submit" value="Import (Add/Update)" onclick="return ChekEmpSettingsUpload();" id="btnimportxls" class="btn btn-primary"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ProductAddModal" class="modal pmsModal  fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add/Modify Product</h4>
            </div>
            <div class="modal-body" style="">
                <div id="divModalBody">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label>Item Code <span class="red">*</span></label>
                            <div>
                                @Html.TextBoxFor(m => m.ProductCode, new { @class = "form-control", @id = "txtProductCode" })
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div><label>Item Name <span class="red">*</span></label></div>
                            <div>
                                @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control", @id = "txtProductName" })
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Item Class/Category <span class="red">*</span></label>
                            <div class="h-branch-select">
                                @Html.DropDownListFor(m => m.ProductClass, new SelectList(Model.ProductClassList, "ProductClassId", "ProductClassName", Model.ProductClassId), new { @id = "ddlProductClass", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Item Brand <span class="red">*</span></label>
                            <div class="h-branch-select">
                                @Html.DropDownListFor(m => m.ProductBrand, new SelectList(Model.ProductBrandList, "ProductBrandId", "ProductBrandName", Model.ProductBrandId), new { @id = "ddlProductBrand", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Item Strength <span class="red">*</span></label>
                            <div class="h-branch-select">
                                @Html.DropDownListFor(m => m.ProductStrength, new SelectList(Model.ProductStrengthList, "ProductStrengthId", "ProductStrengthName", Model.ProductStrengthId), new { @id = "ddlProductStrength", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Item Price <span class="red">*</span></label>
                            <div>
                                @Html.TextBoxFor(m => m.ProductPrice, new { @class = "form-control allow_decimal numbersOnly", @id = "txtProductPrice" })

                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div><label>Item MRP <span class="red">*</span></label></div>
                            <div>
                                @Html.TextBoxFor(m => m.ProductMRP, new { @class = "form-control allow_decimal numbersOnly", @id = "txtProductMRP", type = "text" })
                                @Html.ValidationMessageFor(m => m.ProductMRP, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Item Status <span class="red">*</span></label>
                            <div class="h-branch-select">
                                @*@Html.DropDownListFor(m => m.ProductStatus, new SelectList(Model.ProductStatusList, "ProductStatusId", "ProductStatusName", Model.ProductStatusId), new { @id = "ddlProductStatus", @class = "form-control" })*@
                                @Html.DropDownListFor(m => m.ProductStatus,
                                    new SelectList(Model.ProductStatusList, "ProductStatusId", "ProductStatusName", Model.ProductStatusId),
                                    "Select", // Empty text for placeholder
                                    new { @id = "ddlProductStatus", @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Item Unit <span class="red">*</span></label>
                            <div class="h-branch-select">
                                @Html.DropDownListFor(m => m.ProductUnit, new SelectList(Model.ProductUnitList, "ProductUnitId", "ProductUnitName", Model.ProductUnitId), new { @id = "ddlProductUnit", @class = "form-control" })
                            </div>
                        </div>





                        <div class="clear"></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer" style="">

                <div>
                    @*<button type="button" id="btnSave" class="btn btn-success" onclick="SaveProduct()">Save</button>*@
                    <button type="button" id="btnSave" class="btn btn-success" onclick="SaveProduct()"><span class="btn-icon"><img src="../../../assests/images/save-instagram.svg"></span> Save & Exit</button>

                    <button type="button" class="btn btn-cancel cancel-catg" data-dismiss="modal"><span class="btn-icon"><img src="../../../assests/images/cancel.svg"></span> Cancel & Exit</button>
                </div>

            </div>

        </div>
        <input type="hidden" id="hdnProductID" />
    </div>
</div>


